@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/*
  red: #F00
  grey: #666
  blue: #004080
*/

html, body{
  height:100%;
}

body{
  margin:0;
  font-family: 'Open Sans Condensed', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size:15px;
  background: url(images/square.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a{
  text-decoration: none;
  color:#F00;
}
section{
  min-height:500px;
  padding:300px 0px 0;
}

section .content{
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background:rgba(255,255,255,0.9);
  padding:0 40px;
  max-width:900px;
  margin:0 auto;
  font-size:16px;
  clear:both;
  overflow: auto;
}

section .content h2{
  margin-top:40px;
}

#tickets{
  padding-bottom:2em;
}

#tickets .content p{
  text-align:center;
}

#tito-register-form{
  width:95%;
  background-color:#fff;
  min-height:100px;
  margin-bottom:50px;
}

#tito-register-form form{
  width:100%;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  z-index: 100;
}

.title, .date{
  float:left;
  padding:24px 0px 24px 30px;
}
.title h1{
  display:inline;
  font-size:30px;
}
.date{
  line-height:32px;
  color:#666;
  padding:30px 0px 30px 30px;
}

nav ul{
  float:right;
}

nav li{
  list-style:none;
  margin:10px;
}

nav a.active{
  color:#F00;
}

nav a{
  text-decoration:none;
  padding:10px;
  margin:0 10px;
  font-size:24px;
  color:#999;
}

nav a:hover{
  color:#F00;
}

.content h3{
  margin:10px 0 0;
}

.content h3 + p{
  margin:5px 0 15px;
}

footer{
  min-height:120px;
  background:#222;
  color:#fff;
}

footer .content{
  text-shadow:1px 1px 15px rgba(0,0,0,0.2);
  padding:10px 0 10px 20px;
  max-width:900px;
  margin:0 auto;
}

footer form{
  margin-top:10px;
  margin-right:20px;
  float:right;
}

footer input{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer input, button{
  border:none;
  padding:5px 20px;
  font-size:24px;
  font-family:Helvetica, sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  margin:0;
}

footer button{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:#800000;
  color:#fff;
  cursor:pointer;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.speaker {
  display: inline-block;
  margin:0 50px 30px 0;
  text-align:center;  
}

.avatar {
  display:inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  background-size: 100% 100%;
  vertical-align: middle;
  margin: 0 10px;
  background-color: darkgrey;
}

.speaker .avatar{
  width:150px; 
  height:150px
}

.teabass{
  background-image:url(images/teabass.jpeg);
}
.dscape{
  background-image:url(images/dscape.jpeg);
}
.olizilla{
  background-image:url(images/olizilla.png);
}
.gbnc{
  background-image:url(images/britishnodeconf.png);
}
.malditogeek{
  background-image:url(images/malditogeek.png);
}
.sarahchipps{
 background-image:url(images/speakers/sarajchipps.png);
}
.darachennis{
 background-image:url(images/speakers/darachennis.png);
}
.juliangruber{
 background-image:url(images/speakers/juliangruber.png);
}
.timruffles{
 background-image:url(images/speakers/timruffles.jpg);
}
.paulserby{
 background-image:url(images/speakers/serby.jpg);
}
.antonwhalley{
 background-image:url(images/speakers/antonwhalley.jpg);
}
.erisds{
 background-image:url(images/speakers/erisds.jpg);
}
.alexyoung{
 background-image:url(images/speakers/alex_young.jpg);
}
.gordonwilliams{
 background-image:url(images/speakers/gordon_williams.jpg);
}
.milomordaunt{
 background-image:url(images/speakers/milo_mordaunt.jpg);
}
.harrydalton{
 background-image:url(images/speakers/harry_dalton.png);
}

.center{
  text-align:center;
}

.vcard .org {
  font-weight: bold;
}
#venue .vcard, #hotel .vcard{
  margin-bottom: 2em;
}

.schedule ul{
  list-style-type: none;
  padding: 0;
}
.schedule li{
  margin-bottom: 10px;
}
.schedule .time {
  font-size: 1.8em;
  font-family: 'Open Sans Condensed', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.schedule h3 {
  display: inline;
}

.schedule .break {
  /*background: #DDD;*/
}

@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

  .title{
    padding:0 20px;
  }
  
  .date{
    padding:0 20px;
  }
  
  nav ul, nav li{
    float:left;
    margin:0;
    padding:0 0 5px;
  }

  section .content {
    padding: 0 15px;
  }
  
  .speaker{
    margin:0 10px 10px 0;
  }
  .speaker .avatar {
    width:130px;
    height: 130px;
  }

  .schedule .time{
    font-size: 1.2em;
    /*display: block;*/
  }
  .schedule .avatar{
    /*margin-left: 0;*/
    width:30px;
    height: 30px;
    vertical-align: bottom;
  }
  .schedule h3 {
    /*display: block;*/
/*    font-size: 1.2em;*/
    /*margin-left: 10px;*/
  }
}
